body {
  background: #ececec;
  padding-top: 100px;
  font-family: "Nunito", sans-serif;
}

#mainNavbar {
  background-color: #000000;
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  text-align: center;
  vertical-align: middle;
  color: white;
}

#cardMusica {
  background-color: #ffffff;
  padding: 25px;
  margin-bottom: 5px;
  height: 120px;
}
i {
  cursor: pointer;
}

@media (max-width: 999px) {
  body {
    background: #ececec;
    padding-top: 20px;
    font-family: "Nunito", sans-serif;
  }
  i {
    margin-left: 25px;
  }
  #cardMusica {
    padding-top: 5px;
    margin-top: 10px;
  }
}
@media (max-width: 380px) {
  body {
    background: #ececec;
    padding-top: 20px;
    font-family: "Nunito", sans-serif;
  }
  i {
    margin-left: 0px;
  }
  #cardMusica {
    padding-top: 5px;
    padding-right: 0px;
    padding-left: 10px;
    margin-top: 10px;
  }
}
/* .header {
  background-color: #ff3780;
  justify-content: center;
  color: #fff;
  padding: 15px 0px 15px 0px;
}

.header-items {
  padding-top: 8px;
  text-align: center;
} */
